*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
    margin-top: 5%; 
}
.media-con{
    text-align: center;
    margin-left: 13%;
    margin-right: 15%;
}
.media-con h3{
    font-size: 24px;
   font-weight: 700;
   line-height: 32px;
   letter-spacing: 0.33px;
}
.media-con h1{
    font-size: 61.4px;
   font-weight: 800;
   line-height: 72px;
   letter-spacing:normal;
   padding-top: 7px;
}
.media-con p{
    font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing:normal;
   padding-top: 2em;
   margin-bottom: 6%;
}
.media-mid{
    /* font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing:normal; */
    margin-right: 15%;
    margin-left: 13%;
}
.cont{
    padding-top: 1em;
}
.cont h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing:normal;
    margin-bottom: 8px;
}
.cont a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing:normal;
    text-decoration: none;
    color: #0066e5;
    transition: all 0.2s;
}
.cont a:hover{
    text-decoration: underline;
}
.cont p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing:normal;
    margin-top: 1em;
}
.cont ul{
    list-style: none;
}
.cont ul li{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing:normal;
}
.media-end{
    background-color: #f5f5f5;
    margin-top: 10%;
    display: flex;
    gap: 4em;
    padding-top: 4em;
    padding-left: 13%;
    /* padding-right: 15%; */
    padding-bottom: 5%;
}
.end1 h1{
    font-size: 28px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing:normal;
}
.end2 ul{
    list-style: none;
}
.end2 ul li{
    font-size: 15px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing:0.46px;
    padding-top: 1em;
}
.end2 ul li a{
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
}
.end2 ul li a:hover{
    text-decoration: underline;
}
.end2 hr{
    margin-top: 1em;
}
.end-bottom{
    border-bottom: 1px solid #000;
    width: 100%;
    padding-right: 16em;
    padding-bottom: 1em;
}