@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    /*code for avoid overflow on horizondal scroll*/
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden;
    /* padding-bottom: 7000px; */
    margin: 0;

}

.main_div {
    width: 100%;
    height: 7000PX;
    /* background-color: red; */

}

.root_div {
    width: 100%;
    height: 2800px;
    /* background-color: #0af157; */
}


.division {
    background-color: yellow;
    width: 100%;
    height: 30px;
    float: left;
}

.section1 {
    background-image: url("./IMG/pephome.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height:730px; 
    background-position: center;
    background-size: cover;
}


.pad_pad {
    flex: 1;
    width: 100%;
    height: 300px;
    background-color: white
}

.SeperatorBlock_white {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 50px;
}




.bolded_text {
    font-size: 50px;
    color: white;
    /* font-family: 'sans-serif'; */
    letter-spacing: 3px;

    font-weight: bold;

}


.normal_text {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}


.header_text {
    color: aliceblue;
    font-style: normal;
    font-weight: bolder;
    font-size: 17px;
    font-family: "Graphik LC Web ";

    text-decoration: none;

    display: inline-block;
    position: relative;


}

.pad {
    margin-left: 20px;
    margin-top: 45px;

}

.RightTextColor {
    color: #fff;
    text-decoration: none;
}

.pepsico_pad {
    margin-left: 40px;
    margin-top: 40px;
}
.section6_container {
    width: 100%;
    
    background-color: yellow;
    float: left;

}


/* ------------------------------------SECTION 1 CODES HERE----------------------------------------- */
.header_div {
    height: 100px;
    width: 100%;
    position: relative;
    /* float: left; */
}
.logo_div {
    width: 20%;
    height: 100px;
    float: left;
    font-size: 20px;
}
.nav_div {
    width: 60%;
    height: 100px;
    float: left;
}
.contact_div {
    height: 100px;
    width: 20%;
    float: left;
}
.Globe_icon{
   height: 17px;
   width: 17px;
margin-left: 10px;  
margin-right: 10px;}

.Search_icon{
    height: 17px;
    width: 17px;
 margin-left: 10px;  
 margin-right: 10px;


}
.home_center_text {
    color: #fff;
    font-size: 62px;
    position: relative;
    font-weight: bolder;
    letter-spacing: 0;
    line-height: 72px;
    text-align: center;
    font-family: "Graphik LC Web ";
    margin-bottom: 35px;
    position: relative;
    display: inline-block;
    width: 62%;
}

.nav_pad {
    margin-top: 40px;
    margin-bottom: 40px;
}

.pepsico_text {
    color: azure;
    stroke: aliceblue;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Graphik LC Web"; 
}


.content_div {
    height: 500px;
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}
/* --------ACTIONS HERE------------- */
h2::before {
    position: absolute;
    content: "";
    right: -2px;
    top: -35px;
    background-image: url(./IMG/before_icon.gif);
    width: 50px;
    height: 95px;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scaleX(-1) rotate(-110deg);
}

h2::after {
    position: absolute;
    content: "";
    left: -1px;
    bottom: -20px;
    background-image: url(./IMG/after_icon.gif);
    width: 55px;
    height: 85px;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* .underline_anim:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline_anim:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */
/* ------------------------------------SECTION 2 CODES HERE  ( Mountain Dew + Image )------------------------------------ */
.section2_div {
    width: 100%;
    background-color: chartreuse;
    height: 800px;
    float: left;
    margin-top: 5%;
}

.writing_div {
    background-color: #c05535;
    width: 50%;
    height: 800px;
    float: left;
}

.writings_pad {
    padding-top: 30px;
    padding-left: 30px;
}

.image_div {
    background-color: black;
    background-image: url("./IMG/mountaindew.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 800px;
    float: left;
    margin: 0px 0px -12px;
}

/* ---------------------- SECTION 5  ( Building a stronger text on image ) ------------------------------ */

.section5_div {
    background-color: white;
    width: 100%;
    height: 700px;
    float: left;
}

.build_div {
    background-image: url("IMG/corporategovernance.jpg");
    background-repeat: no-repeat;

    background-size: 1350px;
    width: 1150px;
    height: 700px;
    margin-left: 100px;
    margin-right: 100px;
}

.text_pad {
    padding-top: 360px;
    text-align: center;
}

.top_text {
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

.bolded_text_mid {
    color: black;
    background-color: #fff;
    font-size: 62px;
    font-weight: bolder;
    font-family: "Graphik LC Web";
}

/*----------------------- SECTION 6  ( Diversity and Nutrition ) ---------------------- */

.section6 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 399px;
    width: 100%;
    gap: 1em;
    float: left;
}

.diversity {
    position: relative;
    margin-left: 100px;
    background-image: url(IMG/homediversity.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    width: 800px;
    height: 378px;
    float: left;

}
.philanthropy {
    margin-right: 50px;
    background-image: url(IMG/pepsicofoundationhomepage.png);
    background-repeat: no-repeat;

    background-size: 100%;
    object-fit: contain;
    width: 800px;
    height: 378px;
    float: left;
}
.texton_left {
    position: absolute;
    background-color: white;
    font-size: 35px;
    color: black;
    margin-top: 290px;
    font-weight: bolder;
    font-family: "Graphik LC Web";
}
.textContainer{
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}
.textContainer span{
    font-family: Arial, Helvetica, sans-serif   ;
    letter-spacing: 1px;
    font-weight: 900;
}
.textContainer div{
    font-family: Arial, Helvetica, sans-serif   ;
    letter-spacing: 1px;
}
.left_section{
    width: 43%;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    /* background-color: #FFC107; */
}
.right_section{
    row-gap: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 2;
    /* background-color: #c05535; */
}
.text_para {
    display: flex;
    flex-direction: row;
    padding-left: 1px;
    height: 100px;
    background-color: rgb(6, 211, 84);
    width: 100%;

}
.row {
    background-color: yellow;
    width: 1155px;
    margin-left: 100px;
    margin-right: 100px;
    height: 200px;
    float: left;

}

.co1 {
    margin: 577px;
    height: 200px;
    float: left;
    color: azure;
}

.col2 {


    background-color: darkorange;


}

/*----------------------- SECTION  ( Careers ) ---------------------- */

.sectionCareers_div {
    width: 100%;
    background-color: rgb(18, 110, 231);
    height: 700px;
    float: left;
}


.image2_div {
    background-color: white;
    background-image: url("IMG/officeimage.png");
    background-repeat: no-repeat;


    background-size: 675px;

    width: 50%;
    height: 700px;
    float: left;
}

.writing2_div {
    line-height: 60px;
    padding-top: 306px;
    padding-left: 100px;
    background-color: #c05535;
    color: white;
    width: 50%;
    height: 700px;
    float: left;
}

p {
    font-family: "Graphik LC Web";
    font-weight: 900;
}
/*----------------------- SECTION  ( FooterSection ) ---------------------- */


.FooterSection{
  width: 100%;
  background-color: #004c97;
  height: 600px;
  float: left;

}
.FooterContainer{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    
    width: 80%;
  /* background-color: rgb(46, 11, 145); */
  height: 500px;
  float: left;
}

.mainRow1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: royalblue; */
    height: 100px;
}
.mainRow2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: rgb(201, 225, 65); */
    height: 110px;
    line-height: 2;
}
.Fcol1{

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    font-weight: 900;
    font-size: 18px;
    font-family:Arial;
    
    width: 50%;
    /* background-color: rgb(209, 102, 14); */
    height:160;
    float: left;

}
.Fcol2{
    column-gap: 10px;
    display: flex;
    justify-content: end;

    width: 50%;
    /* background-color: rgb(4, 158, 94); */
    height:160;
    float: left;

}

.mainRow3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: rgb(179, 14, 82); */
    height: 160px;
}
.Lcol1{

    display: flex;
    justify-content: space-between;
    width: 70%;
    /* background-color: rgb(58, 14, 179); */
    height: 160px;

}
.Lrow1{
    display: flex;
    flex-direction: row;
    align-items: end;
    row-gap: 10px;
    column-gap: 11px;
    font-weight: 900;
}

.Lcol2{
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 2.5;
    font-size: 11px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}



.whoweare{
    background-color: #FFF;
    /* position: absolute; */
    width: 100%;
    /* top: 100px; */
    display: flex;
    justify-content: space-around;
    height: 242px;
     display: none; 
    z-index: 10;
}
.class2{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.class2 h2{
    padding-top: 60px;
    padding-bottom: 20px;
}
.class2 a{
    text-decoration: none;
    line-height: 30px;
    color: #000;
}
.special{
    color: #004c97;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 34px;
}
#link1:hover + .whoweare{
    display: block;
}


