*{
    padding: 0;
    margin: 0;
   
   
}
.smile{
  background-image: url(https://www.pepsicoindia.co.in/images/indialibraries/about-pepsico-india/in-about-dsc_1926.jpg);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
}
.smile h1{
  padding-top: 25%;
  padding-left: 20%;
  padding-right: 26%;
  padding-bottom: 30%;
  color: #fff;
  font-size: 62px;
  line-height: 72px;
  font-weight: 700;
  text-align: center;
}
.smile h1 .yellow{
  color: inherit;
  background: linear-gradient(120deg, #ffcc3d 0, #ffcc3d 100%);
  background-repeat: no-repeat;
  background-size: 97% 39%;
  background-position: 0 90%;
}
.smile h1 .every{
background-image: url(../Vahedunnisa/halfburst-White-Mirror-pepsi.gif);
background-repeat: no-repeat;
position: relative;
text-transform: capitalize;
}
.heading{
  display: flex;
<<<<<<< HEAD
  /* gap: 2rem; */
  margin-top: 5%;
  /* margin-left: 15%; */ 
 
  /* width: 100%; */
  
}
.heading h1{
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  margin-left: 18%;
  /* padding-right: 25%;  */
 /* border: 2px solid red; */
 text-align: left;
 position: absolute;
 margin-right: 63%;

=======
  gap: 1.5rem;
  margin-top: 5%;
  margin-left: 5%;
  margin-right:  5%; 
  
}
.heading h1{
  font-weight: 700px;
  font-size: 30px;
  line-height: 42px;
margin-left: 6%;
margin-right: 5%;
>>>>>>> f9fea09411ecd62d1557fabd32b63ec775d4f3c1
}
.heading p{
  font-size: 16px;
  line-height: 24px;
<<<<<<< HEAD
  font-weight: 400; 
  padding-right:19%; 
  margin-left: 40%;
  /* border: 1px solid blue; */
 
}

.right{
  margin: 3em;
=======
  line- weight 400px; 
  
}
.right{
  margin: 100px;
>>>>>>> f9fea09411ecd62d1557fabd32b63ec775d4f3c1

}
.right img{
   width: 100%;

   



  
}
body{
  overflow-x: hidden;


}
.right p{

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  /* margin-right:10%; */
  margin-top: 1em;
}

.map img{
  width: 80%;
  margin-left: 15%;
}
.africa-mid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 100px;
}
.africa-mid h1{
  font-size:48px ;
  font-weight:700;
<<<<<<< HEAD
  line-height:58px;
=======
  font-height:58px;
>>>>>>> f9fea09411ecd62d1557fabd32b63ec775d4f3c1
  text-align: center;


}
.africa-mid p{
  font-size :16px;
  font-weight:400;
<<<<<<< HEAD
  line-height:24px;
  text-align: center;
  margin-left: 6em;
  margin-right: 14em;
  margin-top: 1em;
  margin-bottom: 2em;

=======
  font-height:24px;
  text-align: center;
>>>>>>> f9fea09411ecd62d1557fabd32b63ec775d4f3c1

}
.africa-mid a{
  line-height: 20px;
  text-decoration: none;
  color: #3e41d0;
  font-weight: bolder;
}

.special{
  padding-left: 100px;
  display: inline-block;
  color: #eeefef !important;
  font-size: 180px !important;
  font-weight: 900 !important;
  letter-spacing: 0 !important;
  line-height: 200px !important;
  position: relative;
  left: 300px;
  padding-bottom: 20px ;
  text-align: center;
}
.special span{
  color: #000;
  font-size: 32px !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
  line-height: 40px !important;
  position: absolute;
  top: 90px;
  left: 170px;
}



.pictures1{
  background-color: #C05535;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  color: #fff;
  width: 80%;
<<<<<<< HEAD
margin-top: 8em;
=======

>>>>>>> f9fea09411ecd62d1557fabd32b63ec775d4f3c1
}
.left-pic{
  padding-top: 12%;
}
.left-pic h3{
font-size: 16px;
line-height: 24px;
font-weight: 700;
}
.left-pic h1{
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  padding-top: 2em;
}
.left-pic p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 1em;
  padding-bottom: 5em;
}
.left-pic h3 a{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}
.pictures2{
  background-color: #568302;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  color: #fff;
  width: 77%;
 padding-left: 3em;
}

.fifth_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth_child{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth_child h1{
  font-size: 3.5rem;
  padding-top: 10%;
  padding-bottom: 5%;
}
.apply_flex_5{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.geje img{
  height: 350px;
  width: 300px;
  padding-bottom: 10px;
}
.geje p{
  padding-bottom: 3px;
}
.geje h2{
  padding-top: 10px;
  padding-bottom: 30px;
}
.Ranbir img{
  height: 150px;
  width: 300px;
  padding-bottom: 10px;
}
.Ranbir p{
  padding-bottom: 3px; 
}
.Ranbir h2{
  padding-top: 10px;
  padding-bottom: 30px;
}
.sara img{
  height: 280px;
  width: 300px;
  padding-bottom: 10px;
}
.sara p{
  padding-bottom: 3px;
}
.sara h2{
  padding-top: 10px;
  padding-bottom: 30px;
}
.hardik img{
  height: 300px;
  width: 300px;
  padding-bottom: 10px;
}
.hardik p{
  padding-bottom: 3px;
}
.hardik h2{
  padding-top: 10px;
  padding-bottom: 30px;
}
.fifth_section h3{
  padding-top: 5%;
  padding-bottom: 8%;
}
.fifth_section h3 a{
  text-decoration: none;
  color: #000;
}


.sixth_section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f1f1;
}
.sixth_child{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  padding: 85px 0;
}
.left6{
  width: 45%;
}
.left6 h2{
  font-size: 2rem;
}
.toptext{
  padding-bottom: 20px;
}
.middletext{
  padding: 20px 0px;
}
.bottomtext{
  padding-top: 20px;
  padding-bottom: 20px;
}
.right6 a{
  text-decoration: none;
  color: #000;
}
<<<<<<< HEAD
.and{
  
  position: absolute;
  right:350px;
  top:340px;
  content: "";
  
  /* width: 20px;
  height: 25px; */
 

}
.and img{
  width: 90%;

}

.show2{
  position: absolute; 
  left:270px;
  top:600px;
  content: "";
  
  

}

  .show2 img{
    width: 40%;
    
  }

=======

  

>>>>>>> f9fea09411ecd62d1557fabd32b63ec775d4f3c1
