*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}
nav{
    background-color: #004C97;
    width: 100%;
    padding: 2rem;
}
#first_section{
    text-align: center;
}
.container_first{
    padding: 50px 15px 0px;
}
.contain1{
    font-family: Graphik LC Web;
    margin-bottom: 8px;
}
.contain2{
    font-family: "Graphik LC Web", Montserrat, "Open Sans", Helvetica, Arial;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.625rem;
    margin-bottom: 1.438rem;
}
.contain2box{
    flex-wrap: wrap;
}
.yellow_bar{
    color: inherit;
    background: linear-gradient(120deg, #ffcc3d 0, #ffcc3d 100%);
    background-repeat: no-repeat;
    background-size: 97% 39%;
    background-position: 0 90%;
    text-decoration: none !important;
}
/* .blank_div{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
} */
.contain3{
    height: auto;
    width: 40%;
}
.vedio_img video{
    background-size: cover;
    background-position: cover;
    overflow-x: hidden;
    width: 100% ;
}
#third_Section{
    background-color: rgb(143, 148, 156);
    height: 100vh;
}
.fouth_section_box{
    width: 100%;
    display: flex;
    justify-content: center;
}
#fourth_section{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 70%;
    padding: 10px;
}
.centre_img img{
    width: 100%;
    height: 100%;
}
.centre_text p{
    flex-wrap: wrap;
    font-size: 5rem;
    font-weight: 600;
}
.container5{
    width: 100%;
    display: flex;
    justify-content: center;
}
.fifth_section{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 65%;
    padding: 10px;
}
.first_row_div{
    display: flex;
    justify-content: center;
}
.second_row_div{
    display: flex;
    justify-content: center;
}
.third_row_div{
    display: flex;
    justify-content: center;
}
.right1{
    background-color: #e2b63c;
}
.right3{
    background-color: #004C97;
}
.apply_flex{
    display:flex;
    justify-content: space-between;
}